<section class="relative py-10 overflow-x-hidden">
  <div class="container">
    <h2 class="mb-6 lg:mb-10 text-4xl font-semibold font-heading">Editar producto</h2>

    <div class="relative flex flex-wrap items-center -mx-4">
      <div class="relative w-full  px-4 pb-12 lg:pb-0">
            <%= render partial:'form' %>
      </div>
  </div>
</section>